*{
    box-sizing: border-box;
}

body{
    background-color: #31343a;
}

table {
    border-spacing: 0px;
}

th, td {
    padding: 0px !important;
    width: 20px !important;
  }

.nav-header{
    background-color:#272a31!important;
    color: white !important;
}

.nav-header__row{
    width: 50% !important;
    color: #272a31;
}   

.nav-header__title::after {
    content: "Unicorn Dataset Data Analysis";
    font-weight: bold;
}

@media (max-width: 768px){
    .logo__image{
        display: none !important;
    }
    .nav-header__title::after {
        content: "Unicorn EDA";
        font-weight: normal;
    }
}

.chart{
    margin:20px !important;
}

.table-col{
    height: 1000px;
}

.main-div{
    height: 100% !important;
}

.companies-table{
    max-height: 100px;
}