html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #31343a;
}

.navbar{
  background-color: #272a31;
}

.navbar::after {
  content: '';
  display: table;
  clear: both;
}

.logo{
  height: 40px;
  float: left;
  margin: .5em
}

.dropdowns{
  float: right;
  width: 40%;
  padding: 1em;
}

#dropdown-country, #dropdown-industry {
  /* display: inline-block; */
  float: right;
  width: 40%;
}

#dropdown-industry {
  margin-left: 10px;
  margin-right: 10px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: auto 1fr 1fr;
  height: 100vh;
  gap: 1em;
}

.navbar{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.valuation-by-country{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
}

.valuation-by-industry{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.companies-table{
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  height: 100%;
  overflow: scroll;
}

.dash-graph {
  height: 100% !important;
}