html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #31343a;
}

.navbar{
  background-color: #272a31;
}

.navbar::after {
  content: '';
  display: table;
  clear: both;
}


.logo{
  height: 40px;
  vertical-align: middle;
}

.navbar__title-container{
  margin: auto;
  width: 80%;
}

.bigger-container{
  width: 100%;
}


.navbar__title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: white;
  vertical-align: middle;
  display: inline-block;
}

.navbar__title::after{
  content: "Unicorn EDA";
}

#dropdown-country, #dropdown-industry {
  /* display: inline-block; 
  float: right; */
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
} 


.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-areas: "header"
                       "country_valuation"
                       "industry_valuation"
                       "table";
  gap: 1em;
  height: 200vh;
}

.navbar{
  grid-area: header;
}

.valuation-by-country{
  grid-area: country_valuation;
  font-size: 50px !important;
}

.valuation-by-industry{
  grid-area: industry_valuation
}

.companies-table{
  grid-area: table;
  overflow: scroll;
}

.dash-graph {
  height: 100% !important;
}

.textpoint text{
  font-size: 50px !important;
}

.gtitle{
  font-size: 1rem !important;
}

.dash-table-tooltip{
  font-size: 1.2rem !important;
}

.dash-tooltip {
  background-color: red !important;
}


@media(min-width: 60rem) {

  .container{
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "header header"
                         "country_valuation table"
                         "industry_valuation table";
    height: 100vh;
    gap: 1em;
  }
  

  .dropdowns{
    float: right;
    width: 50%;
    padding: 1em;
  }
  
  #dropdown-country, #dropdown-industry {
    /* display: inline-block; */
    float: right;
    width: 40%;
  }
  
  #dropdown-industry{
    margin-left: 10px;
  }

  .logo{
    height: 40px;
    float: left;
    margin: .5em
  }
  
  .navbar__title{
    float: left;
    vertical-align: middle;
  }

  .navbar__title-container{
    width: 100%
  }

  .navbar__title::after{
    content: "Unicorn Dataset Analysis";
  }

  .companies-table{
    grid-area: table;
    height: 100%;
    overflow: scroll;

  }
  .gtitle{
    font-size: 1.6rem !important;
  }
  .ytitle{
    font-size: 1.2rem !important;
  }

  .xtick text, .legendtext{
    font-size: 1rem !important;
  }

  .dash-cell-value, .column-header-name, .Select-value-label {
    font-size: 1.2rem !important;
  }

}